<h1>All Shouts</h1>
<p><%= link_to '+ Post a Shout', new_shout_path %></p>

<% for shout in @shouts %>
<div id="shout-<%= shout.id %>">
    <p><%= User.first.username %>: <%= shout.content %></p>    
    <p>posted <%= shout_date shout %></p>
	</br>
</div>
<% end %>

<%= will_paginate @shouts %>